/* .square{
    border: 2px dotted red;
    min-height: 50px;
}

.square-big{
    border: 2px dotted red;
    min-height: 250px;
} */

/* background colors & color */

.bkg-color-blue{
    background-color: rgb(44,62,80);
}

.bkg-color-green{
    background-color: rgb(26,188,156);
}

.color-green{
    color: rgb(26,188,156);
}

/* Avatar */

#avatar{
    width: 20rem;
    margin: 0 auto;
}

/* Portfolio */

#img-contain{
  width: 100%;
  border-radius: 15px;
  margin-top: 10px;  
  margin-bottom: 10px;
}

/* Pre-footer section */

.footer-section svg{
    width: 3.5em;
    height: 1.5em;
}
.pre-footer{
    background-color: rgb(58,84,109);
}

footer{
    height: 80px;
    background-color: rgb(44,62,80);
}

/* Contact me section */

#contact-me .form-control{
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid gray;
}

/* Spacing */

.spacing-top-50{
    margin-top: 50px;
}

.spacing-top-30{
    margin-top: 30px;
}

.spacing-bottom-30{
    margin-bottom: 30px;
}

.spacing-bottom-10{
    margin-bottom: 10px;
}