/* .square{
    border: 2px dotted red;
    min-height: 50px;
}

.square-big{
    border: 2px dotted red;
    min-height: 250px;
} */

.bkg-color-blue{
    background-color: rgb(44,62,80);
}

.bkg-color-green{
    background-color: rgb(26,188,156);
}

.jumbotron{
    min-height: 300px;
}

.pre-footer{
    background-color: rgb(58,84,109);
}

footer{
    background-color: rgb(44,62,80);
}