/* .square{
    border: 2px dotted red;
    min-height: 50px;
}

.square-big{
    border: 2px dotted red;
    min-height: 250px;
} */

/* background colors */

.bkg-color-blue{
    background-color: rgb(44,62,80);
}

.bkg-color-green{
    background-color: rgb(26,188,156);
}

/* Avatar */

#avatar{
    width: 20rem;
    margin: 0 auto;
}

/* Portfolio */

#img-contain{
  width: 100%;
  border-radius: 15px;
  margin-top: 10px;  
  margin-bottom: 10px;
}

.pre-footer{
    background-color: rgb(58,84,109);
}

footer{
    background-color: rgb(44,62,80);
}

/* Spacing */

.spacing-top-50{
    margin-top: 50px;
}

.spacing-top-30{
    margin-top: 30px;
}

.spacing-bottom-10{
    margin-bottom: 10px;
}